table{
    /*убирает двойные границы между ячейками*/
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

td{
    width: 65px;
    height: 65px;
    border: 1px solid black;
    text-align: center;
    font-size: 55px;

}

.cleen{
    width: 25px;
    height: 25px;
    border: none;
    background-color: lightgrey;
    font-size: 12px;
}

