html{
    outline: none;
    overflow-x: hidden;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 100vh;
    background:rgb(18,18,50);
    transition: background .4s;
}

.shapka{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    height: px;
    color: rgb(226,151,70);
    display: flex;
    transition: background .4s;
    /* border-bottom: 1px solid rgba(226,151,70, .5) ; */
    justify-content: space-between;
    align-items: center;
}

.header_left{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 15px;
    z-index: 11;
}
  
.hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: rgb(226,151,70);
    margin: 3px 0;
    transition: 0.4s;
    border-radius: 1px;

}

.hamburger:hover{
    opacity: .6;
}

.logo{
    height: 50px;
    margin-left: 25px;
}

.login{
    text-decoration: none;
    color:rgb(18,18,50) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bold;
    font-size: 18px;
    margin-right: 15px;
}
.login>span{
    border-radius: 17px;
    padding: 10px 25px;
    background: rgb(26,23,51);
    background: linear-gradient(36deg, rgba(26,23,51,1) 8%, rgba(226,151,70,1) 62%, rgba(226,151,70,1) 84%, rgba(255,255,255,1) 100%);
    background-size: 200% 200%;
    /* background-position:0% 50% ; */
}

@keyframes login {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 90% 0%;
    }
}


.login>span{
    animation-name: login;
    animation-duration: 2s;
    animation-timing-function:linear ;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: filter .4s;
}

.login>span:hover{
    filter: brightness(120%);
}
.login>span:active{
    filter: brightness(80%);
}



.profil{
    display: flex;

}

.huinya{
    width: 50px;
    height: 50px;
    background: rgb(134, 134, 134);
    border-radius: 50%;
    position: relative;
    transition: .4s;
    margin-right: 23px;
    transition: filter .4s;
}

.huinya:hover{
    filter: brightness(120%);
}

.huinya:active{
    filter: brightness(80%);
}

.avatar{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17.5px;
    margin-left: -17.5px;

}

.black_avatar{
    height: 35px;
}








