html{
    overflow-x: hidden;
    outline: 0px;
}

body{
    background: rgb(18,18,50);
    background: linear-gradient(90deg, rgba(18,18,50,1) 5%, rgba(176,122,81,1) 66%, rgba(228,179,92,1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    position: absolute;
    height: 70px;
    top: 20px;
    left: 20px;
}



table{
    /*убирает двойные границы между ячейками*/
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

td{
    width: 65px;
    height: 65px;
    border: 1px solid black;
    text-align: center;
    font-size: 55px;
    
}

.cleen{
    width: 25px;
    height: 25px;
    border: none;
    background-color: lightgrey;
    font-size: 12px;
}

.Chess{
    font-family: "Apple Chancery";
    font-size: 50px;
    text-align: center;
    text-shadow: 20px 10px 25px rgba(39, 39, 39, 0.2);
    font-weight: 900;
    margin-bottom:20px ;
    
}





.bok_panel_in_chess{
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
}





.bok_panel_in_chess img:not(.porno){
    height: 30px;
}

.bok_panel_in_chess a p{
    padding-left: 20px;
}


.bok_panel_in_chess a:nth-child(2){
    padding-left: px;
}
.bok_panel_in_chess a p .button_s{
    padding-left: 0;
}


.bok_panel_in_chess a{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    width: 80%;
    height: 40px;
    text-decoration: none;
    border-radius: 10px;
    transition: background .4s;
}

@keyframes aside_button{
    to{
        margin-left: 10px;
        width: 194px;
        height: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 22px;
    }
}
@keyframes aside_button_back{
    from{
        margin-left: 10px;
        width: 194px;
        height: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 22px;
    }
    
    to{
        margin-left: 15px;
        width: 80%;
        height: 40px;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        font-size: 20px;
    }
}

.bok_panel_in_chess a:hover{
    background: rgb(43, 43, 93);
    animation-name: aside_button;
    animation-duration: .2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.bok_panel_in_chess a:not(:hover){
    animation-name: aside_button_back;
    animation-duration: .2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}




.bok_panel_in_chess a p{
    margin:0;
    color:rgb(226,151,70) ;
}

.border{
    height: .5px;
    width: 180px;
    background:rgba(226,151,70, .5) ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game_place{
    display: grid;
    grid-template-columns: 1fr 30px .6fr;
    grid-template-rows: 60px 571px 60px;
    margin-right: 200px;
}

#my_bord{
    filter: brightness(85%);
    grid-row: 2/3;
}

.game_panel{
    grid-column: 3/span1;
    grid-row: 2/3;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 60px 1fr 83px;
    height: 571px;
}

.buttons_s{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.22);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
}

.buttons_s button{
    border: 0;
    outline: none;
    height: 50px;
    width: 85px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
}

.buttons_s img{
    height: 20px;
    
}

span{
    background:rgba(0,0,0,0.22) ;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    height: 100%;
    width: 100%;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
span>img{
    height: 25px;
    margin-right: 10px;
}

h6{
    font-size: 22px;
    color: rgb(190, 199, 224);
}

.history{
    overflow-y: auto;
}

.history p{
    margin: 0;
    padding: 10px;
}

.history p:nth-child(even){
    background: rgba(255, 255, 255,.1);
}

/* Полоса прокрутки */
::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
  }
  
  /* Полоса прокрутки внутри */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); /* Цвет полосы прокрутки */
    border-radius: 10px; /* Скругление углов */
  }
  
  /* Фон полосы прокрутки */
  ::-webkit-scrollbar-track {
    background:  rgba(0,0,0,0.2); /* Цвет фона полосы прокрутки */
  }
  
